/* This is the custom css form my project */
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgb(226, 229, 241);
}

#fb_header {
  height: 10vh;
  width: 100vw;
  background-color: rgb(57, 83, 157);
  border-bottom: 1px solid rgb(38, 68, 129);
}

#fb_main {
  height: 75vh;
  width: 100vw;
  position: absolute;
  top: 10vh;
}

#fb_footer {
  height: 15vh;
  width: 100vw;
  position: absolute;
  bottom: 0px;
  background-color: rgb(255, 255, 255);
  color: rgb(54, 82, 157);
  font-size: 0.8rem;
}

.fb_languages {
  margin-top: 1rem;
  border-bottom: 2px solid rgb(255, 255, 255);
}

.fb_services {
  margin-bottom: 1rem;
}

#fb_footer a {
  text-decoration: none;
  color: rgb(54, 82, 157);
  padding-left: 1rem;
}

#fb_footer a:hover {
  text-decoration: underline;
  color: rgb(54, 82, 157);
}

.commons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#btn-login {
  border: 1px solid rgb(38, 68, 129);
  background-color: rgb(52, 82, 158);
  height: 30px;
}

.inputs {
  height: 20px;
  width: 100px;
}

.fb_links {
  text-decoration: none;
  color: rgb(153, 178, 220);
}
.fb_links:hover {
  text-decoration: underline;
  color: rgb(153, 178, 220);
}

.btn_lang {
  font-weight: bold;
  color: rgb(115, 115, 115);
  height: 1.2rem;
  margin-left: 1rem;
}

#fb_connect {
  color: rgb(2, 53, 99);
  font-weight: bold;
  font-size: 1.2rem;
}
